# Standard excludes
*~
*.a
*.bak
*.class
*.cma
*.cmi
*.cmo
*.cmx
*.cmxa
*.diff
*.eml
*.gcda
*.gcno
*.gcov
*.hi
*.jar
*.la
*.lo
*.o
*.orig
*.patch
*.pyc
*.rej
*.swp

/build
/dist
/test/.coverage
/test/data/images
/test/data/systemid-rhel-5-x86_64
/test/local.props
/locale/*.mo
/locale/install/
