# Standard excludes
*~
*.a
*.bak
*.class
*.cma
*.cmi
*.cmo
*.cmx
*.cmxa
*.diff
*.eml
*.gcda
*.gcno
*.gcov
*.hi
*.jar
*.la
*.lo
*.o
*.orig
*.patch
*.pyc
*.rej
*.swp
build
dist
test/data/images

/locale/*.mo
/locale/install/
